figure{
    
    overflow: hidden;
    margin: 0 10px;
}

.dailyImage img{
    display: block;
    cursor: pointer;
    
}

.dailyImage #zoom-In-daily img {
    transform: scale(1);
    transition: 2s ease-in-out; 
    /* filter: grayscale(50%); */
}

.dailyImage #zoom-In-daily:hover img {
    transform: scale(1.5);
    transition: 2s ease-in-out;
    filter: grayscale(0);
    
}
